@using EmployeesApp.Models
@model List<CompanyModel>

@{
	ViewBag.Title = "Employees";
}
<form id="form-employee" action="/" method="post">
	<fieldset>
		<legend>New employee</legend>
		<select name="companyId">
			<option selected disabled>Choose company</option>
			<option value="0">No company</option>
			@foreach (var company in Model)
			{
				<option value="@company.CompanyId">@company.Name</option>
			}
		</select>
		<input type="text" name="firstName" placeholder="Name" autocomplete="off" />
		<input type="text" name="surname" placeholder="Surname" autocomplete="off" />
		<input type="text" name="patronymic" placeholder="Patronymic name" autocomplete="off" />
		<input type="text" name="birthdate" placeholder="Birthdate" autocomplete="off" onfocus="this.type='date'" onblur="this.type='text'" />
		<input type="text" name="series" placeholder="Passport series" autocomplete="off" />
		<input type="text" name="number" placeholder="Passport number" autocomplete="off" />
		<div class="align-self-center">- or -</div>
		<label for="employee-import" class="align-self-center button">Import from file</label>
		<input id="employee-import" class="display-none" type="file" name="file" accept=".csv" />
		<button class="button margin-top">Add</button>
	</fieldset>
</form>

@section scripts {
	<script src="scripts/employee/index.js"></script>
}