@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link href="/styles/index.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <a asp-controller="Home" class=@(ViewBag.Title == "Overview" ? "current" : "") asp-action="Index">Overview</a>
            <a asp-controller="Company" class=@(ViewBag.Title == "Companies" ? "current" : "") asp-action="Index">Companies</a>
            <a asp-controller="Employee" class=@(ViewBag.Title == "Employees" ? "current" : "") asp-action="Index">Employees</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>2024</footer>
    @RenderSection("scripts", false)
    @await Html.PartialAsync("Modal")
</body>
</html>
