<div id="modal" class="display-none">
	<div id="message-box">
		<ul id="messages-list"></ul>
		<button class="button" onclick="hideModal()">Ok</button>
	</div>
</div>
<script src="scripts/modal.js"></script>