:root {
    --font-size-normal: clamp(0.8rem, 2vmin, 1rem);
    --font-size-big: clamp(1.1rem, 3vmin, 1.4rem);
    --background-color: #007bff;
    --background-color-hover: #0056b3;
    --background-color-active: #003d80;
    --gap-normal: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5vh 90vh 5vh;
    font-size: var(--font-size-big);
    font-family: "Segoe UI", Arial, sans-serif;
}

ul {
    list-style: none;
}

form {
    width: 50%;
    max-width: 600px;

    @media screen and (width < 900px) {
        width: 90%;
    }
}

.align-self-center {
    align-self: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: var(--gap-normal);
    padding: 10px;
}

input, select {
    padding: 5px;
    font-size: var(--font-size-normal);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header {
    display: flex;
}

nav {
    display: flex;
}

a {
    background-color: var(--background-color);
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    transition: all 0.3s;
}

a:hover {
    background-color: var(--background-color-hover);
}

a.current {
    background-color: var(--background-color-active);
}

.display-none {
    display: none !important;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: var(--font-size-normal);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #007bff;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button:hover {
    background-color: var(--background-color-hover);
    border-color: #0056b3;
}

.button:active {
    background-color: var(--background-color-active);
    border-color: #003d80;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-normal);
}