@import url(modal.css);
@import url(header.css);
@import url(footer.css);
@import url(form.css);

:root {
    --font-size-normal: clamp(0.8rem, 2vmin, 1rem);
    --font-size-big: clamp(1.1rem, 3vmin, 1.4rem);
    --background-color: #007bff;
    --background-color-hover: #0056b3;
    --background-color-active: #003d80;
    --gap-normal: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5vh 90vh 5vh;
    font-size: var(--font-size-big);
    font-family: "Segoe UI", Arial, sans-serif;
}

ul {
    list-style: none;
}

.align-self-center {
    align-self: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.display-none {
    display: none !important;
}